.firstview {
  position: relative;
}

.firstview__img {
  display: block;
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.firstview__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: white;
}

.content {
  font-size: 30px;
  text-align: center;
  margin: 70px auto;
}

.content__about--text {
  font-size: 14px;
  text-align: center;
  line-height: 30px;
}

.content__blog {
  display: flex;
  justify-content: center;
}

.content__blog--item {
  width: 250px;
  margin: 0 10px;
}

.content__blog--text {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  margin: 15px auto;
}

.content__blog--img {
  width: 100%;
}

.content__contact {
  display: flex;
  justify-content: center;
}

tr {
  width: 780px;
  line-height: 30px;
}

.content__contact--ttl {
  width: 200px;
  text-align: left;
}

.content__contact--btn {
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin-bottom: 70px;
}

.content__contact--btn-del {
  width: 200px;
  color: #000000;
  background: #dcdcdc;
  padding: 15px;
  margin: 10px;
  text-align: center;
  display: block;
}

.content__contact--btn-send {
  width: 200px;
  color: #ffffff;
  background: #66cdaa;
  padding: 15px;
  margin: 10px;
  text-align: center;
  display: block;
}
